inboard386/inboard386-backups/*
inboard386/.history/
inboard386/.history_trim/
repair/
# Temporary files
inboard386/*.000
inboard386/*.bak
inboard386/*.bck
inboard386/*.kicad_pcb-bak
inboard386/*.kicad_sch-bak
inboard386/*-backups
inboard386/*.kicad_prl
inboard386/*.sch-bak
inboard386/*.lck
inboard386/*~
inboard386/_autosave-*
inboard386/*.tmp
inboard386/*-save.pro
inboard386/*-save.kicad_pcb
inboard386/fp-info-cache
inboard386/.~lock*
prom/*.000
prom/*.bak
prom/*.bck
prom/*.kicad_pcb-bak
prom/*.kicad_sch-bak
prom/*-backups
prom/*.kicad_prl
prom/*.sch-bak
prom/*.lck
prom/*~
prom/_autosave-*
prom/*.tmp
prom/*-save.pro
prom/*-save.kicad_pcb
prom/fp-info-cache
prom/.~lock*

# image files (from reverse engineering)
inboard386/*.xcf
inboard386/*.pdf

#gerber files
inboard386/*.zip
inboard386/gerber
prom/*.zip
prom/gerber



